
Html
<h6 style="padding: 10px; border: 1.0px solid #ffffff; border-radius: 5px;"><center><div class="header-text animate-text">PROJECT BOTIFY</div><br><span style="font-size: 6px">Created by <b>Neth</b></span></h6>

Css
.header-text{
    font-size: 30px;
    font-weight: 900;
}
/* Header title animation start */
.animate-text
{
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.3); !important;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #E3F2FD 0%,
    #0061FF 29%,
    #0065FF 67%,
    #E3F2FD 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}